.side {
   width :66%;
   color : white;
   height : 100vh;
   background: linear-gradient(81deg, rgba(32,21,107,1) 0%, rgba(145,0,255,1) 100%);
}
.side h1{
   margin-top: 20%;
   margin-left: 38%;
}
.side p{
    width: 60%;
    
}